.pageMeses {
    background-color: #FFF7AE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
    header {
      background-color: #F3C98A;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: 'Montserrat';
    }
    
    header h1 {
      margin: 0;
    }
    
    button {
      align-self: flex-start;
      background-color: #F3C98A;
      width: 150px;
      height: 50px;
      font-size: larger;
      outline-color: #F3C98A;;
      border: none;
      font-family: 'Montserrat';
    }
    
    .content {
      display: flex;
      align-items: center;
    }
    
    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .centered-image {
      max-width: 100%;
      max-height: 100%;
    }
    
    .text-container {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      background-color: #FFE194;
      margin-right: 10px;
    }
    
    .text-container:last-child {
      margin-right: 0;
    }
    .extra-container {
      display: flex;
      flex-direction: column;
      background-color: #f0f0f0;
      padding: 20px;
      margin: 10px;
      border-radius: 8px;
    }
  
    .cell1 {
      width: 200px;
      height: 60px;
      text-align: center;
      background-color: white !important;
      color: black !important;
      border: none;
      cursor: pointer;
      margin: 10px;
      border-radius: 10px;
      font-size: 24px;
      font-family: 'Montserrat';
      font-weight: bold;
    }
    .sair-button{
      font-size: 30px;
      font-family: 'Montserrat';
      font-weight: bold;
    }
    .cell {
      width: 200px;
      height: 60px;
      text-align: center !important;
      background-color:#FFE194 !important;
      color: black !important;
      border: none;
      cursor: pointer;
      margin: 10px;
      border-radius: 10px;
      font-size: 40px !important;
      font-family: 'Montserrat';
      font-weight: bold;
      
    }
  
    .text-boxes-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 250px; 
      padding: 10px;
    }
    
    .text-box {
      position: relative; 
      width: 600px; 
      height: 900px; 
      background-color:white; 
      border: 2px solid black; 
      display: flex;
      justify-content: center;
      align-items: flex-start; 
      font-size: 24px; 
      margin: 0 100px; 
      padding: 10px;
      border-radius: 10px;
      overflow: hidden;
    }
    
    .text-content {
      position: absolute;
      top: 20px; 
      left: 20px; 
      font-size: xx-large;
      color: black;
      font-weight: bold;
      font-family: 'Montserrat';
    }
  
    .bordered-box {
      position: absolute;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      border: 6px solid orange; 
      border-radius: 10px; 
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 5px; 
    }
  
    
    .image-gallery {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 100px;
      }
      
      .image-item {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .container-imagem {
        width: 250px;
        height: 325px;
        background-color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        border-radius: 20px 20px 20px 20px;
        overflow: hidden;
      }
      
      .image {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }
      .image-text {
        margin-top: 10px;
        text-align: center;
        font-size: xx-large;
        font-weight: bold;
        font-family: 'Montserrat';
      }